<div class="container">
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h2 class="text-center mt-2">Popular people on TMDB</h2>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let people of peopleTrending" class="col-md-4 mt-5">
            <div class="card">
                <img [src]="imgPrefix+people.profile_path" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{people.name}}</h5>
                  <p class="card-text">{{people.known_for_department}}</p>
                </div>
              </div>
        </div>
    </div>
</div>