<div class="header">
    <div class="layer mt-5 py-5">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center py-5">
                <div class="col-12">
                    <h1 class="text-white">All Rated</h1>
                </div>
                <div class="col-12">
                    <h2 class="text-white">
                        Millions of movies, TV shows and people to discover.
                    </h2>
                </div>
                <div class="col-12">
                    <h2 class="text-white">
                        Explore now.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>  