<div class="container">
    <div class="row mt-5">
        <div class="col-12 mt-5">
            <h2 class="text-center mt-2">Movies TOP 15</h2>
        </div>
    </div>
    <div class="row my-5">
        <div *ngFor="let movie of trendingMovies" class="col-md-4 mb-5 movie_item">
            <div class="card" style="width: 18rem;">
                <img [src]="imgPrefix+movie.poster_path" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text">{{movie.overview | slice:0:70}} ... <button  [routerLink]="['/trending-info', movie.media_type, movie.id]"  class="btn btn-primary">Read More</button></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{movie.vote_average}} <span class="text-warning">&#9733;</span> </li>
                    <li class="list-group-item">{{movie.vote_count}} votes</li>
                  </ul>
              </div>
        </div>
    </div>
</div>